COMPOSE_PROJECT_NAME=devtools_drupal
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=my-secret-pw
MYSQL_ROOT_PASSWORD=my-secret-pw
DRUPAL_ADMIN_USER=demoadmin
DRUPAL_ADMIN_PASSWORD=secretpass
DRUPAL_SITE_NAME=האתר של ירין וליה
DRUPAL_ADMIN_EMAIL=admin@example.com
TEAM_USER_1=Yarin
TEAM_PASSWORD_1=Yarin1
TEAM_USER_2=Liya
TEAM_PASSWORD_2=Liya1
